
nav {
    background-color: #debede;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative; 
    margin: 0 15px;
}

nav ul li a {
    color: rgb(103, 83, 104);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block; 
    transition: color 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li a:hover {
    color: #f4befb;
}


nav ul li .dropdown-content {
    display: none; 
    position: absolute;
    background-color: #efade9;
    box-shadow: 0px 8px 16px 0px rgba(237, 212, 245, 0.2);
    z-index: 1; 
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li {
    margin: 0;
}

nav ul li .dropdown-content li a {
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover {
    background-color: #c2afc4; 
}

nav ul li:hover .dropdown-content {
    display: block;
}
.img{
    height: 50%;
    width: 50%;
    margin-left: 24%;
    margin-top: 3%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Estilo para o contêiner principal */
.container {
    display: flex; /* Define o contêiner como um flexbox */
    gap: 80px; /* Espaçamento entre os cards */
    flex-wrap: wrap; 
    margin: center;
    padding: 6%;/* Permite que os cards quebrem linha se necessário */
}

/* Estilo para cada card */
.card {
    background-color: rgb(210, 183, 216);
    border: 1px solid #504b4f;
    border-radius: 8px; /* Arredonda os cantos dos cards */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(103, 75, 108, 0.1); /* Adiciona uma sombra para dar um efeito de elevação */
    flex: 1; /* Permite que os cards cresçam igualmente */
    max-width: 300px; /* Define uma largura máxima para os cards */
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para o título dos cards */
.card h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #893b81;
}

/* Estilo para o parágrafo dos cards */
.card p {
    color: #282329;
}

footer{
    background-color:#e7cae7;
    color: rgb(97, 36, 103);
    padding: 30px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1500px;
    margin:0 auto;
    padding: 0 20px;
}
.footer-section{
    flex-basis: 17%;
    margin-bottom: 30px;
}
.footer-section p,.footer-section ul{
    margin: 0;
    padding: 0;
    line-height: 1.9;
}
.footer-section ul{
    list-style-type: none;
}
.footer-section ul li{
    margin-bottom: 10px;
}
.footer-section ul li a{
    color: rgb(245, 116, 211);
    text-decoration: none;
    transition: 0.3s;
}
.footer-section{
    color: #423b44;
}
.social-links a{
    display: inline-block;
    margin-right: 10px;
    color: rgb(231, 66, 228);
    text-decoration: none;
    transition:color 0.3s;
}
.footer-bottom{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: #d1a7d8;
    font-size: 14px;
}
.footer-bottom p{
    margin: 0;
}
.sapeka{
    width: 5%;
    scale: 100%;
    margin-right: 60%;
}
.anotherDAY{
    width: 80%;
    margin-left: 11%;
    border-radius: 3%;
}
.about{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
}
.footer-section a{
    text-decoration: none;
    color: #56445a;
}